* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: rgb(147, 216, 220);
  background-color: #fe7700;
}
.header-container {
  display: flex;
  justify-content: center;
  background-color: rgb(126, 248, 248);
  color: #000000;
}
.header {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  justify-content: space-between;
  font-size: 450%;
}
.links {
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}
.button {
  color: #fe7700;
  background-color: rgb(137, 252, 252);
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid rgb(105, 168, 147);
  border-radius: 45px;
  width: 500px;
  margin: 10px auto;
}
a:link {
  color: rgb(145, 31, 227);
  text-decoration: none;
}

a:visited {
  color: green;
  font-size: larger;
}
a:hover {
  color: #fe7700;
  text-decoration: underline;
}

a:active {
  color: red;
}
.photo-grid {
  width: 100;
  display: flex;
  justify-content: center;
  align-items: stretch;
  block-size: 10%;
}
.logo {
  display: flex;
  border: 2px white;
}
.works {
  display: flex;
  justify-content: center;
  background-color: #f69438;
}
.subscribe {
  font-size: large;
  color: #fe7700;
}
.social {
  justify-content: center;
  margin-bottom: 20px;
}
.synopsis {
display: flex;
justify-content: center;
background-color: rgb(126, 248, 248);
font-size: larger; 
color: #000000;
padding-bottom: 20px;
}
.Hierogliph {
  display: flex;
  width: 1440px;
  padding-left: 20px;
  background-color: red;
  color: white;
}
.column-container {  
display: flex;
justify-content: space-around;
padding: 20px;
}
.column {
border: 2px solid #E5E000;
border-radius: 30px;
width: 400px;
height: 800px;
font-size: 20px;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
font-family: 'Times New Roman', Times, serif;
font-stretch: semi-expanded;
line-height: 135%;
align-items: center;
}
.h1 {
  font: helvetica;
  font-size: 18px;
  padding-bottom: 20px;
}