body {
  color: #0a0c00;
  background-color: #eaecdb;
  font-size: 18px;
}
h1 {
  padding: 50px;
  border-bottom: 1px solid #0b24fb;
}
h1, p {
  background-color: #f1eeee;
}
em, strong {
  background-color: #29fd2f;
  display: inline;
}
strong {
  margin: 50px;
}
p {
  text-align: left;
}
p {
  padding: 20px 0 20px 10px;

  margin-top: 25px;
  margin-bottom: 50px;
}
h2 {
  font-size: 1.6em;
}
div {
  color: #f1eeee;
  background-color: #29fd2f;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #0b24fb;
  border-radius: 5px;
}
div {
  /* ... */
  width: 200px;
}
div {
  color: #FFF;
  background-color: #4a90e2;
  font-weight: bold;
  padding: 20px;
  text-align: center;

  width: 200px;
  box-sizing: border-box;
  margin: 20px auto;
}
body {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}