body {
  color: #c5ef09;
  background-color: #360238;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;                       
}
p {
  text-align: center;
}

h2 {
  font-size: 1.6em;
}